body {
	/*background-image: url(1.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/

}

.template{
	width: 1000px;
	margin: 0px auto;
	background-color: lightgrey;
	background-size: cover;
	background-image: url(../1.jpg);
	background-repeat: no-repeat;
}
.header {
	width: 960px;
	margin: 0px auto;
	background: rgba(206, 50, 83, 0.4);
	height: 202px;
	box-shadow: 0 0 7px cadetblue;
}
.award{
	width: 200px;
	float: left;
}
.award img {
	height: 170px;
	margin-left: 40px;
}
.text {
	width: 686px;
	/* float: right; */
	margin: 0px 0px 0px 230px;
	padding: 10px;
}
.text h3 {
	font-family: Georgia;
	color: rgba(219, 236, 216, 0.63);
	margin: 40px 20px 0px 140px;
	font-weight: bold;
	font-size: 60px;
	text-shadow: 0px 0px 4px rgba(50, 242, 140, 0.55), 0px 0px 4px rgba(50, 242, 140, 0.55);
}

.text h3 span {
	
}









.text2 {
	width: 350px;
	box-shadow: 0px 0px 5px rgba(34, 177, 147, 0.5);
	border-radius: 4px;
}
.text2 p {
	font-size: 50px;
	text-align: center;
	border: 1px solid #a29b9b99;
	border-radius: 4px;
	font-family: Ubuntu;
	font-weight: bold;
	cursor: pointer;
	color: #ece0e0;
	text-shadow: 2px 2px 5px red;
}

.text2 p:hover{
	box-shadow: 0 0px 4px rgba(59, 231, 219, 0.9);
}

.text3 {
	box-shadow: 2px 2px 7px #48aba7cc;
	width: 314px;
	border-radius: 2px;
}

.text3 p {
	font-size: 40px;
	font-weight: bold;
	font-family: Ubuntu;
	color: #ece0e0;
	text-shadow: 2px 2px 5px red;
	text-align: center;
	cursor: pointer;
}

.text3 p:hover{
	box-shadow: 0 0px 4px rgba(59, 231, 219, 0.9);
}

div.polaroid{
	width: 300px;
	box-shadow: 0 4px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0, .19)
	text-align: center;
}
.polaroid img{
	height: 250px;
	width: 400px;
}
div.container{
	padding: 10px;
}
.polaroid img:hover {
	box-shadow: 0 0px 4px rgba(59, 231, 219, 0.9);
}
